{% extends 'core/base.html' %}
{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block header %}
  <h1>Contacto</h1>
  <span class="subheading">asesoria</span>
{% endblock header %}

{% block content %}
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>Me encantaria poder ser de su ayuda</p>
      <p><b>Teléfono:</b> +57 {{my_phone}}</p>
      <p><b>Correo electrónico:</b> {{my_email}}</p>
    </div>
  </div>
{% endblock %}
